# C++ Build Artifacts
**/build/
**/out/
**/Debug/
**/Release/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# CMake Build Directory
**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
cmake_install.cmake.in
CMakeLists.txt.user
CTestTestfile.cmake.in

# Qt Build Directory
**/moc_*.cpp
**/qrc_*.cpp
**/ui_*.h
*.pro.user

# Visual Studio Code Settings
.vscode/

# Compiled Headers
*.gch
*.pch

# Other IDE/Editor Files
.DS_Store
*.user
*.suo
*.sln.docstates
*.sdf
*.opensdf
*.cscope
*.cbp
*.workspace
.project
.settings/
.cproject
.pyc
.pyo
.idea/

# vim
**/.cache/
